name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true # Ativa cache automático para acelerar as próximas execuções

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync # Instala as dependências do projeto (uv.lock)

      - name: Run Ruff Check (Linting)
        run: uv run ruff check .

      - name: Run Ruff Format (Check formatting)
        run: uv run ruff format --check .

      - name: Run Tests with Pytest
        run: uv run pytest